:root {
	--violet: hsl(273, 75%, 66%);
	--shadowViolet: hsla(261, 75%, 27%, 0.5);
	--red: hsl(14, 88%, 65%);
	--softBlue: hsl(240, 73%, 65%);
	--darkBlue: hsl(238, 29%, 16%);
	--darkGrayshBlue: hsl(237, 12%, 33%);
	--lightGrayshBlue: hsl(240, 5%, 91%);
	--grayshBlue: hsl(240, 6%, 50%);
}
