@use 'utility' as *;

.faq {
	margin: 0 2.4rem;
	z-index: 10;

	@include breakpoint(medium) {
		grid-column: 2 / -1;
		margin-right: 4rem;
	}

	@include breakpoint(large) {
		margin-right: 6rem;
	}

	@include breakpoint(xlarge) {
		margin-right: 9rem;
	}

	&__list {
		margin-top: 3.8rem;
	}

	&__item {
		font-size: 1.3rem;
		color: var(--darkGrayshBlue);
		display: grid;
		grid-template-columns: 1fr 0.8rem;
		column-gap: 3.5rem;
		// row-gap: 1.2rem;
		align-items: center;
		padding-bottom: 2rem;
		border-bottom: 1px solid var(--lightGrayshBlue);

		@include breakpoint(large) {
			font-size: 1.4rem;
		}

		&:not(:first-child) {
			padding-top: 2rem;
		}
	}

	&__question {
		cursor: pointer;

		&:hover {
			color: var(--red);
		}
	}

	&__description {
		opacity: 0;
		overflow: hidden;
		max-height: 0rem;
		font-size: 1.2rem;
		grid-column: 1 / -1;
		transform: translateY(-1rem);
		transition: all 0.4s;
		color: var(--grayshBlue);
	}
}

.faq__item.active {
	& .faq__question {
		font-weight: 700;
	}
	& .faq__description {
		opacity: 1;
		max-height: 6rem;
		transform: translateY(0);
		margin-top: 1.2rem;
	}

	.arrow {
		transform: rotate(180deg);
	}
}
